@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* Nerd font for the site. */
@font-face {
	font-family: ZedMono;
    src: url(fonts/ZedMonoNerdFontMono-Extended.ttf) format("truetype");
}

p {

}

html, body {
	background-color: #181A26;
    height: 100%;
    margin: 0;
	display: flex;
	justify-content: center; /* Centers the div horizontally */
	align-items: center; /* Centers the div vertically */
}

.text {
	color: var(--ctp-mocha-text);
}

.command {
	color: var(--ctp-mocha-pink);
}

.arrow {
	color: var(--ctp-mocha-green);
}

.container {
    /*width: 50%; /* Adjust the width as needed */
/* 	height: 50%; */
    margin: 0 auto; /* This centers the div horizontally */
    padding: 20px;
	border: 1px solid #ccc;
}

.container p {
  font-family: ZedMono;
  font-size: 2em;
  text-align: left;
}

